/* /// WEBSITE TITLE \\\ */
/* div{
    border: 1px solid red;
} */
h1 {
    color: white;
    text-align: left;
    font-size: 100px;
    text-shadow: grey 5px 5px 10px ;
}

button {
    width: 100px;
    height: 40px;
}



/* /// DIV LAYOUT SETTINGS \\\ */
#div-container, #header, #navbar{
    display: flex;
    flex-direction: column;
}

/* /// DIV MAIN CONTAINER - CONTAINS EVERYTHING \\\ */
#div-container{
    height: 100%;
    width: 100vw;
    display: flex; 
}

/* /// DIV HEADER/BANNER \\\ */
#header{
    flex-direction: row;
    width: 100%;
    height: 13vh;
    background-color: orange;
    box-shadow: 0px 0px 10px 0px;
}
        #header-logo {
            display: flex;
            justify-content: center;
            width: 800px;
            align-items: center;

        }

/* /// NAVBAR \\\ */
#navbar{
    width: 100%;
    float: center;
    line-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

    #navbar a{
        color: white; 
    }
    #navbar h2:hover{
        color: white;
    }

/* /// CAT BANNER IMAGE \\\ */

#cat-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    text-align: center;
}
    .div-banner{
        width: 100%;
    }
        #img-banner{
            max-width: 20%;
        }

/* /// MAIN CONTENT - contains all page content. cat pics */
#maincontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #ddd;
    border-radius: 5rem;

}



/* cat array */
.cat-div img{
    max-height: 150px;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px ;
}
.cat-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30vh;
    width: 15vw;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    
}


/* cat tail */
#cat-tail {
    width: 100%;
    float: center;
    text-align: center;
    bottom: 0;
}

#tail {
    height: 250px;
    display: flex;
    align-items: baseline;

}

/* BASKET UI (Liam) */

#basket_container {
    display: flex;
    flex-direction: row;
    width: 30vw;
    min-height: 40%;
    align-content: flex-start;
    /* border: black 1px solid; */
    /* background-color: white; */
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 10px 0px ;
    border-radius: 5px;
}

#basket_ui{
    align-items: center;
    width: 100%;
    /* border: solid 1px black; */
}
#basket_ui_list{
    /* border: solid 1px rgb(248, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.basket_ui_entry{
    /* border: solid 1px black; */
    display: flex;
    background-color: #CCCCCC;
    margin-bottom: 2px;
    width: 50%;
}

.basket_ui_entry button{
    height: auto;
}

.basket_ui_left{
    margin-right: auto;
}

.basket_ui_right{
    margin-left: auto;
} 

#basket_ui_label {
    display: flex;
    flex-direction: row;
    /* border: solid 1px black; */
    align-items: center;
}
#basket_ui_price{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: solid 1px black; */
}