/* /// WEBSITE TITLE \\\ */
h1 {
    color: white;
    text-align: left;
    font-size: 100px;
}

#header-logo {
    width: 800px;

}

/* /// DIV LAYOUT SETTINGS \\\ */
#div-container, #header, #header-logo, #navbar, #maincontent {
    display: flex;
    flex-direction: column;
}

/* /// DIV MAIN CONTAINER - CONTAINS EVERYTHING \\\ */
#div-container{
    height: 100vh;
    width: 100vw;
    
}

/* /// DIV HEADER/BANNER \\\ */
#header{
    flex-direction: row;
    width: 100%;
    height: 13vh;
    background-color: orange;
}


/* /// NAVBAR \\\ */
#navbar{
    width: 100%;
    float: center;
    line-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbar a{
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 30px;
    color: white;
    padding: 36px 10px;
    margin: 0 1px;
}
#navbar a:hover{
    color: white;
    font-weight: 950;
}

/* /// CAT BANNER IMAGE \\\ */

#cat-banner {
    width: 100%;
    font-size: 18px;
    float: center;
    text-align: center;
 


}

/* /// MAIN CONTENT - contains all page content. cat pics */
#maincontent {
    height: 62.3vh;
    width: 100%;
    position: fixed;;
    top: 450px;
    background: #ddd;
    height: 1500;
    border-radius: 5rem;
    font-family: 'Poppins';
    font-size: 20px;
    color: black;
}

#cat-tail {
    width: 100%;
    float: center;
    text-align: center;
    bottom: 0;
}

#tail {
    height: 250px;
    display: flex;
    align-items: baseline;

}
          .cat-div img{
            max-height: 180px;
            max-width: 200px;
            border-radius: 10px;
        }
        .cat-div{
            
            display: flex;
            flex-direction: column;
            height: 30vh;
            width: 15vw;
            border: solid 1px red;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
